.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5vh 1fr 12.5vh;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  border: 2px solid rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 1);
}

button {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
  margin: auto;
  width: 80%;
  padding-bottom: 20px;
}

.article-p {
  text-align: left;
}

.user-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

h1::first-letter {
  text-transform: uppercase;
}

.article {
  padding-bottom: 20px;
}

.user {
  margin-top: 50px;
}

.header {
  max-width: 100%;
  height: auto;
  width: auto;
}

.voter {
  padding-bottom: 20px;
}

.button-up {
  margin: 10px;
}

.button-up:active {
  background-color: rgba(194, 19, 49, 1);
}

.button-down {
  margin: 10px;
}

.button-down:active {
  background-color: rgba(194, 19, 49, 1);
}

.loader {
  text-align: center;
}
