.all-articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
}

.article-box {
  box-shadow: 0px 0px 10px 1px rgba(51, 51, 51, 1);
  background-color: #eeeeee;
  padding: 20px;
  margin: 10px;
  max-width: 100%;
  height: auto;
  width: auto;
}

.article-box h3:hover {
  color: rgba(194, 19, 49, 1);
}

.comment-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-username:hover {
  color: rgba(194, 19, 49, 1);
}

.article-username:hover {
  color: rgba(194, 19, 49, 1);
}

.loader {
  padding: 100px;
}
