nav {
  grid-area: nav;
  background: rgba(194, 19, 49, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #ffffff;
  padding: 10px;
}

.login {
  color: #ffffff;
}
