.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7.5vh 1fr 12.5vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  background: rgba(194, 19, 49, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  border: 2px solid rgba(0, 0, 0, 1);
  background: rgba(0, 0, 0, 1);
}

a {
  color: #000000;
  text-decoration: none;
}

.header a {
  color: #ffffff;
  padding: 10px;
}

.user-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

h1::first-letter {
  text-transform: uppercase;
}

.login button {
  color: #ffffff;
  background-color: #000000;
}

.login {
  color: #ffffff;
}

.comment-body {
  border: 2px solid lightgray;
  list-style-type: none;
  height: 50vh;
  width: 80%;
  overflow: auto;
  overflow-y: scroll;
}
